{% extends 'template.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
    <div class="alert alert-secondary">
      <h2>{{subject.title}}</h2>
      <p class="card-text">{{subject.content}}</p>
      </div>
    </div>
{% endblock %}
